@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .debug-pink {
    @apply border border-pink-500;
  }

  .debug-yellow {
    @apply border border-blue-500;
  }

  .debug-green {
    @apply border border-green-500;
  }
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../../public/fonts/MonumentExtended-Regular.woff2') format('opentype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1 {
  font-style: normal;
  font-Family: 'Monument Extended';
  font-weight: 400;
  font-size: 55px;
}

.h1 {
  font-style: normal;
  font-Family: 'Monument Extended';
  font-weight: 400;
  font-size: 55px;
}

.h3 {
  font-style: normal;
  font-Family: 'Monument Extended';
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-style: normal;
  font-Family: 'Monument Extended';
  font-weight: 400;
  font-size: 35px;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

h5 {
  font-style: normal;
  font-Family: 'Monument Extended';
  font-weight: 400;
  font-size: 25px;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

h6 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 35px;
  }

  .h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }
}
